<% content_for :title do %>RigaDevDay dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- Row #1: logo, time, weather, sponsors -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="logo" data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="sponsor" data-view="Text" data-title="Sponsor" data-text="Placeholder for sponsor logo." data-moreinfo=""></div>
    </li>

    <!-- Row #2: conference data: tracks, sessions, speakers, attendees -->

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tracks" data-view="Number" data-title="Tracks"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sessions" data-view="Number" data-title="Sessions"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="speakers" data-view="Number" data-title="Speakers"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="attendees" data-view="Number" data-title="Attendees"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="schedule" data-view="Text" data-title="Next sessions" data-text="Placeholder for schedule data." data-moreinfo=""></div>    
    </li>

    <!-- Row #3: social data: twitter, facebook -->

    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="twitter" data-view="Text" data-title="Tweets" data-text="Placeholder for Twitter data." data-moreinfo=""></div>    
    </li>

    <li data-row="3" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="facebook" data-view="Text" data-title="Facebook" data-text="Placeholder for Facebook stats." data-moreinfo=""></div>    
    </li>

    <!-- Row #4: operations: voting, facebook -->

    <li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="voting" data-view="Text" data-title="Voting" data-text="Placeholder for Voting stats." data-moreinfo=""></div>    
    </li>

    <li data-row="4" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="operations" data-view="Text" data-title="Operations" data-text="Placeholder for Operations stats." data-moreinfo=""></div>    
    </li>

  </ul>
</div>