<% content_for :title do %>RigaDevDay dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- Row #1: logo, time, weather, sponsors -->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="logo" data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" style="background-color:#006FA7;"></div>
      <i class="icon-time icon-background"></i>                     
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather" style="background-color:#0197D2;"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="sponsor" data-view="Sponsor" style="background-color:#EEEEFF;"></div>
    </li>

    <!-- Row #2: twitter, schedule, voting -->

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#00BAEB;" data-moreinfo="Tweets tagged with #rigadevday"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="schedule" data-view="Schedule" style="background-color:#0197D2;" data-moreinfo="Sessions coming soon"></div>    
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="voting" data-view="Text" data-title="Voting" style="background-color:#006FA7;" data-text="Placeholder for Voting stats." data-moreinfo=""></div>    
    </li>

  </ul>
</div>