<% content_for :title do %>RigaDevDays dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- Row #1 -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Twitter" style="background-color:#1e4e8a;" data-moreinfo="Tweets tagged with #rigadevdays"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1" data-sponsors="evolution neotech toptal oracle ctco microsoft accenture intrum attido twino visma heads waes sap">
      <div data-id="sponsor" data-view="Sponsor" style="background-color:#BAE3F3"></div>
      <i class="icon-star icon-background"></i>
    </li>

    <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
      <div data-id="voting" data-view="Voting" data-title="Speaking Heroes" style="background-color:#1e4e8a;" data-moreinfo="Did you vote in the app?"></div>
      <i class="icon-bar-chart icon-background"></i>
    </li>

    <!-- Row #2 -->

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="schedule" data-view="Schedule" style="background-color:#2ca4e3;" data-moreinfo="Events coming soon"></div>
      <i class="icon-tasks icon-background"></i>
    </li>

    <!-- Row #3 -->

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_activity" data-view="Graph" data-title="(re)tweets/hour" style="background-color:#2ca4e3;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather" style="background-color:#2ca4e3;"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" style="background-color:#2ca4e3;"></div>
      <i class="icon-time icon-background"></i>
    </li>

  </ul>
</div>
