// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #3f51b5;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-sponsor styles
// ----------------------------------------------------------------------------
.widget-sponsor {

  background-color: $background-color;

  h3 {
   font-size: 60px;
   color: #3f51b5;
   font-weight: 900;
  }

  img {
    max-width: 585px;
    max-height: 80px;
  }

}
